@import "../../variables.scss";

.archives {
  .archives-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 950px;
    margin: auto;
    .archives-content-left, .archives-content-right {
      width: 50%;
    }
    .archives-content-left {
      padding-left: 25px;
      .btn-vote {
        margin-top: 20px;
        border-radius: 50px;
        width: 120px;
        padding: 10px 0;
      }
    }
    .archives-content-right {
      position: relative;
      .img-svg {
        width: 500px;
        height: 475px;
        margin: auto;
      }
      .img-perso{
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);
        width: 320px;
        border-radius: 50%;
      }

    }
  }
  .slider {
    width: 900px;
    height: 230px;
    margin: auto;
    .slider-img {
      width: 275px;
    }
  }
}