@import "../../variables.scss";

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: $header-footer-height;
  border-bottom: 1px solid black;
  .header-img {
    height: $header-footer-height / 1.15;
    width: auto;
    margin-left: 200px;
  }
}
