@import "./variables.scss";

.App {
  text-align: left;
  section {
    height: 100vh;
    width: 100%;
  }
  p {
    width: 90%;
    color: $font-color;
    font-size: $text-size;
    line-height: 22px;
  }
  .btn {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    background-color: $primary-color;
    border: none;
    font-style: $small-text;
    &:hover {
      background-color: $bg-color;
      color: $primary-color;
    }
  }
  h2 {
    text-transform: capitalize;
    font-size: $heading-size;
    font-weight: 400;
    line-height: 65px;
    margin-bottom: 40px;
    margin-top: 15px;
  }
  span {
    color: $primary-color;
    font-weight: 600;
  }
}
