@import "./variables.scss";

.App {
  text-align: left;
  p {
    width: 90%;
    color: $font-color;
    font-size: $text-size;
    line-height: 22px;
  }
  button {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    background-color: $primary-color;
    border: none;
    font-style: $small-text;
  }
}
