// COLORS
$bg-color: #f9d0b6;
$btn-color: #e84920;
$footer-color: #333334;
$font-color: #111111;
$footer-link-color: #accce9;

// SIZE
$header-footer-height: 65px;

// Font
$footer-text-size: 12px;
